<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{akkaSource}] [%X{sourceThread}] [%X{traceId}] : %m%n</pattern>
        </encoder>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${fire_home}/log/restful.log</File>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{akkaSource}] [%X{sourceThread}] : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${fire_home}log/restful.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
    </appender>
    <logger name="org.eclipse.jetty.util.log" level="INFO"/>
    <!-- Play2: Off these ones as they are annoying, and anyway we manage configuration ourself -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>